name: braille_app_new
description: A Braille learning Flutter application

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  # ADD THESE PACKAGES ↓↓↓
  provider: ^6.0.5
  permission_handler: ^11.3.0
  speech_to_text: ^7.3.0
  flutter_tts: ^4.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/
    - assets/sounds/
    - assets/images/
